<li id="tweet-<%= tweet.id %>">
  <%= link_to gravatar_for(tweet.user, size: 50), me_path %>
  <span class="user"><%= link_to tweet.user.username, me_path %></span>
  <span class="content"><%= tweet.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago.
  </span>
</li>
