<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/partials/user_info' %>
    </section>
    <section class="stats">
      <%= render 'users/partials/stats' %>
    </section>
    <section class="new_tweet">
      <%= render 'users/partials/new_tweet' %>
    </section>
    <section class="my_tweets">
      <%= render 'users/partials/my_tweets' %>
    </section>
  </aside>
  <section class="feed col-md-8">
    <%= render 'users/partials/feed' %>
  </section>
</div>
