<%= form_for(@new_tweet) do |f| %>
  <%= render 'partials/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Any thoughts #{@new_tweet.user.username}?" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
